
* {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 18px;
    /* font styles for header and paragraph  */
  border: 2px solid darkgreen;
}

body {
    overflow: scroll;
}

nav a{
  color: #696969;
  text-align: center;
  font-size: 18px;
  font-family: 'Indie Flower', cursive;
  padding: 3%;
  text-decoration: none;
  max-width: 100%;
}

#nav{
  position: relative;
   left: 175px;
}

a:hover {
    color: #333;
  }

    img{
      max-width: 100%;
      pading: 2%;
    }

h1 {
  font-family:'Lusitana', serif;
  font-size: 45px;
  text-align: center;
  color: black;
}


.gables {
  padding:5% 24%;
  margin: -27px;
}


.difference {
  font-family:'PT Sans', sans-serif;
  background-color: #D0D3D4;
  padding: 2%;
  color: #696969;
}

/* font styles for header and paragraph*/
.projectsection{
font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 65px;
color: #353738;
}

.projects{
  background-image: url('../img/house.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:52vh;
  padding: 2%;
}

.completed{
  background-image: url('../img/livingroom.png');
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  min-height:32vh;
  padding: 2%;
}

 h3{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
}

.teamsection{
  background-color: #202020;
  color: #E0E0E0;
  min-height:15vh;
  font-family: 'PT Sans', sans-serif;
}

button{
padding: 0% 30px;
weight: 70%;
background-color: White;
border: 2px solid black;
color: black;
font-size: 14px;
font-family: 'Raleway', sans-serif;
font-weight: bold;
height: 50px;
line-height: 48px;
letter-spacing: 4px;
}

button:hover{
  background-color: black;
  color: white;

/* font styles for header and paragraph
.difference h2{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
}
*/
}
